<!DOCTYPE html>
<html>
  <body>
{% extends "layout.html" %}
{% block content %}
   <div class="rsID">
     <h1>rsID Look Up:</h1>
     <p>Get variant info from LitVar</p>
       <form method="POST" action="/rsID">
           <p>RSid: <input type="text" name="rs" placeholder="rs121913527" required ></p>
           <p><input type="submit" value="Submit"></p>
       </form>
       {% if get_id_response %}
     
      <h3>rsID:</h3>
      <a class="aa" href="https://www.ncbi.nlm.nih.gov/snp/{{get_id_response[0]}}">
      {{get_id_response[0].strip('##')}} 
     
      </a>
       <h3>Gene:</h3> 
         <a class="aa" href="https://www.ncbi.nlm.nih.gov/gene/?term={{get_id_response[3]['name']}}">
         {{get_id_response[3]['name']}}
        
         </a>
       <h3>Diseases:</h3>  
      {% for k in get_id_response[1].keys() %}
      
       
       <a class="aa" href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{k}}"> 
        {{k}}
       </a>       
       {% endfor %}
       {% elif rs %}
       <h1 style="text-align:center">LitVar did not return any data for {{rs}}</h1>
       {% endif %}
       {%endblock%}
   </div>
  </body>
</html>
